<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div id="app1">
    <h1>첫 번째 입력 : {{ msg1 }}</h1>
    <input type="text" v-model="msg1">
    <h1>두 번째 입력 : {{ msg2 }}</h1>
    <input type="text" v-model="msg2">
    <h1>합산 입력 : {{ msg1 }} {{ msg2 }}</h1>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const myStr1 = ''
    const myStr2 = ''
    const app1 = new Vue({
      el: '#app1',
      data: { 
        msg1:'',
        msg2:'',
      },
    })

  </script>
</body>
</html>
